POSTGRES_USER=dev
POSTGRES_PASSWORD=123123
POSTGRES_DB=english-ai
POSTGRES_PORT=5432
POSTGRES_HOST=localhost
SECRET_KEY=your-secret-key
JWT_SECRET_KEY=your-jwt-secret-key

ENVIRONMENT="development"

APP_HOST=localhost
APP_PORT=8000
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_DOWNLOAD_TASKS_TOPIC=download_tasks
OUTBOX_POLL_INTERVAL_SECONDS=2
OUTBOX_BATCH_SIZE=100
